<!doctype html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#2eb83c">
    <meta name="apple-mobile-web-app-title" content="GoTrue">
    <meta name="application-name" content="GoTrue">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/lib/prism.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <header id="header">
      <div class="contained">
        <a href="/" class="logo"><img src="/img/netlify-logomark.svg"/>GoTrue</a>
        <a href="https://github.com/netlify/gotrue" class="btn-secondary small"><img src="/img/github.svg"/> Fork me on GitHub</a>
      </div>
    </header>